Q1>
-->comment means the line of code will not be execute . 
--> There are mainly two types of comments 
> single line comment ex: #single line comment 
> multiple line comment  ex: """Multiple line comment""" or '''Multiple line comment'''

Q2>
variable is store any type type of data in python
we can naming the variabel with alpha numeric charector
ex: var1, var_2, var_three etc

Q3> we can convert data type in python through casting method
ex: I1 = 10
will convert it in to float
f1 = float(I1)

In [3]:
#Q4>
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

In [4]:
#Q6"""Complex number in python is the combination of real and imaginary number
ex: 5 + 4j  """

'Complex number in python is the combination of real and imaginary number\nex: 5 + 4j  '

In [5]:
#Q7>
#age = 25

In [7]:
#Q8>
price = 9.99
type(price)

float

In [8]:
#9>
name = "ravi kumar"
print(name)

ravi kumar

In [11]:
#Q10>
s1 = "Hello, World!"
s1 = s1[7:12]

In [12]:
s1

'World'